<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Insurance Companies</title></head>
<body>

<div th:replace="fragments/menu :: menu"></div>


<h2>Insurance Companies</h2>
<a th:href="@{/insurers/new}">Add insurance company</a>

<table border="1">
    <tr><th>Name</th><th>INN</th><th>Phone</th><th>Email</th></tr>
    <tr th:each="i : ${insurers}">
        <td th:text="${i.name}"></td>
        <td th:text="${i.inn}"></td>
        <td th:text="${i.phone}"></td>
        <td th:text="${i.email}"></td>
    </tr>
</table>

<p>
    <a th:href="@{/clients}">Clients</a> |
    <a th:href="@{/suppliers}">Suppliers</a> |
    <a th:href="@{/assets}">Assets</a>
</p>
</body>
</html>
