<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebar(active)">
    <div class="section-title">Навигация</div>
    <nav class="nav">
        <a th:href="@{/}" th:classappend="${active}=='home' ? ' active' : ''">
            <span>🏠</span><span>Главная</span>
        </a>
        <a th:href="@{/applications}" th:classappend="${active}=='applications' ? ' active' : ''">
            <span>📝</span><span>Заявки</span>
        </a>
        <a th:href="@{/clients}" th:classappend="${active}=='clients' ? ' active' : ''">
            <span>👤</span><span>Клиенты</span>
        </a>
        <a th:href="@{/assets}" th:classappend="${active}=='assets' ? 'active' : ''">
            <span>📦</span> <span>Объекты</span>
        </a>
        <a th:href="@{/insurers}" th:classappend="${active == 'insurers'} ? 'active'">
            <span>🛡️</span>
            <span>Страховые</span>
        </a>
        <a th:href="@{/contracts}" th:classappend="${active}=='contracts' ? ' active' : ''">
            <span>📄</span><span>Договоры</span>
        </a>


        <div class="sidebar-section">
            <div class="sidebar-title">Отчёты</div>

            <a class="sidebar-item"
               th:classappend="${active == 'reports'} ? 'active'"
               th:href="@{/reports}">
                📊 Аналитика
            </a>
        </div>

    </nav>

    <div class="section-title">Сервис</div>
    <nav class="nav">
        <a th:href="@{/health}" th:classappend="${active}=='health' ? ' active' : ''">
            <span>✅</span><span>Проверка</span>
        </a>
    </nav>
</div>
</body>
</html>
